params {
    samplesheet = "${launchDir}/metadata/samplesheet.csv"
    output_dir = "${launchDir}/results"
    salmon_index = "${launchDir}/reference/salmon_gencode_v50"
}

profiles {
    local {
        process.executor = 'local'
        conda.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
        docker.enabled = false
    }
}