params {
    samplesheet = "${launchDir}/metadata/samplesheet.csv"
    output_dir = "${launchDir}/results"
}

profiles {
    local {
        process.executor = 'local'
        conda.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
        docker.enabled = false
    }
}